@model IEnumerable<FrontEnd_Zahri.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">List Student</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">List Student</li>
</ol>
<div>
    @if (ViewData["pesan"] != null)
    {
        @Html.Raw(ViewData["pesan"])
    }
</div>
<div class="card mb-4">

    <div class="card-body">
        <p>
            <a class="btn btn-primary btn-lg" asp-action="Create">Create New</a>
        </p>
        <table class="table table-dark table-striped">
            <thead class="text-center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EnrollmentDate)
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnrollmentDate)
                        </td>
                        
                        <td>

                            <a class="btn btn-info btn-sm" asp-action="Details"
                           asp-route-id="@item.ID">Details</a> &nbsp; &nbsp;
                            <a class="btn btn-primary btn-sm" asp-action="Update"
                           asp-route-id="@item.ID">Update</a> &nbsp; &nbsp;
                            <a class="btn btn-danger btn-sm" asp-action="Delete"
                           asp-route-id="@item.ID">Delete</a> &nbsp; &nbsp;
                        </td>
                    </tr>
           
                }
            </tbody>
        </table>
    </div>

</div>
<tr>
    @foreach (var t in Model)
    {
        @for (int i = 1; i <= t.TotalPages; i++)
        {
            <td>
                    @if (i != t.PageIndex)
                        {
                            <a 
                           asp-route-page="@i">@i</a>
                        }
                        else
                        {
<a 
                           asp-route-page="@i">@i</a>                        }
                    </td>

                
        }
    }
</tr>

@*@<a asp-action="Index"
       asp-route-page="@(t.PageIndex - 1)"
       class="btn btn-default">
                    @i
            </a>
            }


        <a asp-action="Index"
       asp-route-page="@(t.PageIndex + 1)"
       class="btn btn-default">
            Next
        </a>
        }
        *@
