@model IEnumerable<FrontEnd_Zahri.Models.StudentWithCourse>

@{
    ViewData["Title"] = "Student Enrollment Course";
}

<h1 class="mt-4">Student Enrollment</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">List Enrollment</li>
</ol>
<div>
    <div class="card mb-4">

        <div class="card-body">
            <table class="table table-borderless" align="text-center">
                <thead class="text-center">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EnrollmentDate)
                        </th>

                        <th>
                            Course
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnrollmentDate)
                            </td>
                            <td>
                                @foreach (var t in item.Enrollments)
                                {
                                    <p>@t.Course.Title</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
