@model IEnumerable<FrontEnd_Zahri.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">List Enrollment</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">List Enrollment</li>
</ol>
<div>
    @if (ViewData["pesan"] != null)
    {
        @Html.Raw(ViewData["pesan"])
    }
</div>
<div class="card mb-4">

    <div class="card-body">
        <p>
            <a class="btn btn-primary btn-lg" asp-action="Create">Create New</a>
        </p>
        <table class="table table-dark table-striped" >
    <thead class="text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                <a class="btn btn-info btn-sm" asp-action="Details"
                           asp-route-id="@item.EnrollmentID">Details</a> &nbsp; &nbsp;
                            <a class="btn btn-primary btn-sm" asp-action="Update"
                           asp-route-id="@item.EnrollmentID">Update</a> &nbsp; &nbsp;
                            <a class="btn btn-danger btn-sm" asp-action="Delete"
                           asp-route-id="@item.EnrollmentID">Delete</a> &nbsp; &nbsp;
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
